<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="author" content="Francesco Zaia">
        <meta name="description" content="my-angular-test">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="HandheldFriendly" content="True">

        <title>my-angular-test</title>

        <link rel="shortcut icon" href="" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="57x57" href="">
        <link rel="apple-touch-icon" sizes="72x72" href="">
        <link rel="apple-touch-icon" sizes="114x114" href="">
        <link rel="apple-touch-icon" sizes="144x144" href="">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans:400,700">
        <link rel="stylesheet" href="css/main.css">

        <!--
        <link rel="stylesheet" href="/css/small.min.css" media="screen, print">
        <link rel="stylesheet" href="/css/modules.min.css" media="screen, print">
        <link rel="stylesheet" href="/css/medium.min.css" media="screen and (min-width: 580px), print">
        <link rel="stylesheet" href="/css/large.min.css" media="screen and (min-width: 900px)">
        <link rel="stylesheet" href="/css/print.min.css" media="print">
        -->

        <!--[if lt IE 9]>
        <link href="/css/medium.min.css" media="screen" rel="stylesheet"/>
        <link href="/css/large.min.css" media="screen" rel="stylesheet"/>
        <![endif]-->
        <!--[if lte IE 9]>
        <link href="/css/ie.css" media="screen" rel="stylesheet"/>
        <![endif]-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="/js/vendor/ui-bootstrap-tpls-0.10.0.min.js"></script>
        <script src="//www.google-analytics.com/analytics.js" async=""></script>
    </head>
    <body>
        <header>
            <h1 class="title">my-angular-test</h1>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </header>
        <div class="container">
            <h1>Yo!</h1>
            <!--
            Adding this breaks stuff, don't know why... yet.
            <div ng-app="docsSimpleDirective">
                <div ng-controller="MyController">
                    <div my-customer></div>
                </div>
            </div>
            -->
            <div ng-app="bootstrap">
                <div ng-controller="ModalDemoCtrl">
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>I'm a modal!</h3>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li ng-repeat="item in items">
                                    <a ng-click="selected.item = item">{{ item }}</a>
                                </li>
                            </ul>
                            Selected: <b>{{ selected.item }}</b>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
                    <button class="btn btn-default" ng-click="open()">Open me!</button>
                    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
                </div>
            </div>


        </div>

        <footer>
            <a href="https://github.com/francescozaia/" target="blank">view on github</a>
        </footer>

        <script src="js/app/App.js"></script>
        <script src="js/app/Modal.js"></script>
    </body>
</html>